@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-blue: #1b305a;
    --blue: #3799CE;
    --light-green: #c3f3df;
    --green:  #7ADFBB;
    --light-purple: #e5e1f4;
    --purple: #483A69; /*#6c59a2*/
    --redish: #f5e1e6;
    --red: #ec5865;
    --ice: #efefef; /*#f5f5f5*/
    --ice-2: #ebebf7;
    --black: #464646;
    --gray: #757575;
    --yellow: #E0C28F;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 font-size: 62,5%;   
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    background-color: var(--ice);
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.register__form, .login__form, .redefinePass__form, .recoverPass__form {
    width: 90%;
    max-width: 430px;
    padding: .5rem 2rem;
}

.form__title {
    text-align: center;
    font-size: clamp(1.7rem, 1vw + 1rem, 2.1rem);
    margin-bottom: 2.5rem;
    color: var(--black);
    
}

.form__label {
    font-size: clamp(1rem, 1vw + 0.25rem + 1.1rem);
    display: block;
    color: var(--black);
    font-weight: bold;
    margin: 1.1rem 0 0.4rem 0;
}

.form__input {
    text-indent: 5px;
}

.form__input, .form__select {
    width: 100%;
    display: block;
    padding: 0.65rem 0;
    font-size: 1rem;
    border: unset;
    transition: 0.3s ease;
}

.form__select {
    background-color: white;
}

.form__input:focus, .form__select:focus {
    outline-color: var(--blue);
}

.form__btn {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.65rem;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.15rem);
    color: white;
    background-color: var(--blue);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.form__link {
    text-decoration: none;
    margin-top: 1.2rem;
    font-weight: bold;
    color: var(--black);
    display: inline;
}

.login__form .form__link {
    display: block;
    margin-top: 1.5rem;
}

.login__form:active {
    color: var(--blue);
}

/* home */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 8%;
    background-color: white;
}

.navbar__brand {
    color: var(--blue);
    font-size: clamp(1.2rem, 1.2vw + 1rem, 1.5rem);
    font-weight: bold;
    text-decoration: none;
}

.navbar__bars {
    display: none;
    color: var(--dark-blue);
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
}

.navbar__links {
    list-style: none;
    padding: 0.8rem 1.2rem;
}

.navbar__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.navbar__link:hover, .navbar__link:hover .navbar__btn__icon  {
    color: var(--blue);
}

.navbar__btn {
    padding: 0 1.2rem;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--blue);
    outline: unset;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}


.navbar__link__icon, .navbar__btn__icon {
    margin-right: .35rem;
}

.navbar__btn__icon {
    color: white;
}



.container {
    width: 100vw;
    max-width: 100vw;
    padding: 0rem 8%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

main {
    max-width: 100vw;
    flex-grow: 1;
    background-color: #f5f5f5;
    display: flex;
    height: auto;
    padding: 3rem 0rem 1rem 0rem;
}

.aside {
    width: 25%;
    min-width: 300px;
    background-color: white;
    padding: 3rem 0rem;
    position: sticky;
    top: 0;
    border-radius: 5px;
}

.sidebar__user {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

.sidebar__menu {
    margin-top: 3.5rem;
}

.sidebar__links {
    list-style: none;
    padding: .9rem 2rem;
    display: flex;
    align-items: center;
}

.sidebar__links:not(:last-child) {
    border-bottom: .2px solid white;
}

.sidebar__link {
    font-size: 1.1rem;
    color:var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar__links:hover {
    background-color: var(--blue);
}

.sidebar__links:hover .sidebar__link {
    color: white;
}

.sidebar__link__icon {
    margin-right: .8rem;
}

.content {
    flex-grow: 1;
    height: auto;
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 5px;
}

.content__title {
    font-size: 1.6rem;
    color: var(--black);
    border: 2px solid transparent;
    border-bottom-color: var(--ice-2);
    padding: 0 0 .8rem 0;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    width: calc(100% / 3 - 0.7rem);
    padding: 1.5rem .8rem;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--ice-2);
    background-color: white;
    text-decoration: none;
    box-shadow: 1px 1px var(--ice-2);
}

.card__image {
    height: 40px;
    width: 40px;
    display: block;
}

.card__title {
    font-size: 1rem;
    padding: 5px 0px;
    color: var(--black);
    border-bottom: 2px solid var(--ice-2);
}

.card__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.card__detail, .card__detail__icon {
    font-size: .8rem;
    color: var(--black);
}

.card__detail:first-child {
    align-self: center;
}

.card__detail__icon {
    margin-right: 5px;
}


@media (max-width: 768px) {

    .container {
        padding: 0rem 7%;
    }

    .navbar {
        padding: .8rem 7%;
    }

    .navbar__bars {
        display: block;
    }

    .navbar__menu {
        display: none;
    }

    .aside {
        display: none;
    }
}



