@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-blue: #1b305a;
    --blue: #3799CE;
    --light-green: #c3f3df;
    --green:  #7ADFBB;
    --light-purple: #e5e1f4;
    --purple: #483A69; /*#6c59a2*/
    --redish: #f5e1e6;
    --red: #ec5865;
    --ice: #efefef; /*#f5f5f5*/
    --ice-2: #ebebf7;
    --ice-3: #c9c9d6;
    --black: #464646;
    --gray: #757575;
    --yellow: #E0C28F;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 font-size: 62,5%;   
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    background-color: var(--ice);
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.register__form, .login__form, .redefinePass__form, .recoverPass__form {
    width: 90%;
    max-width: 430px;
    padding: .5rem 2rem;
}

.form__title {
    text-align: center;
    font-size: clamp(1.7rem, 1vw + 1rem, 2.1rem);
    margin-bottom: 2.5rem;
    color: var(--black);
    
}

.form__label {
    font-size: clamp(1rem, 1vw + 0.25rem + 1.1rem);
    display: block;
    color: var(--black);
    font-weight: bold;
    margin: 1.1rem 0 0.4rem 0;
}

.form__input, .searchbar__input {
    text-indent: 5px;
}

.form__input, .form__select, .form__textarea, .searchbar__input {
    width: 100%;
    display: block;
    padding: 0.65rem 0;
    font-size: 1rem;
    border: unset;
    transition: 0.3s ease;
}

.form__select {
    background-color: white;
}

.form__input:focus, .form__select:focus, .form__textarea:focus, .searchbar__input:focus {
    outline-color: var(--blue);
}

.form__btn {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.65rem;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.15rem);
    color: white;
    background-color: var(--blue);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.form__link {
    text-decoration: none;
    margin-top: 1.2rem;
    font-weight: bold;
    color: var(--black);
    display: inline;
}

.login__form .form__link {
    display: block;
    margin-top: 1.5rem;
}

.login__form:active {
    color: var(--blue);
}

/* home */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 8%;
    background-color: white;
}

.navbar__brand {
    color: var(--blue);
    font-size: clamp(1.2rem, 1.2vw + 1rem, 1.5rem);
    font-weight: bold;
    text-decoration: none;
}

.hakuna__version {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    padding: 2px 3px;
    margin-left: 85px;
    top: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.navbar__bars {
    display: none;
    color: var(--blue);
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
}

.navbar__links {
    list-style: none;
    padding: 0.8rem 1.2rem;
}

.navbar__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.navbar__link:hover, .navbar__link:hover .navbar__btn__icon  {
    color: var(--blue);
}

.navbar__btn, .user__menu__btn {
    padding: 0 1.2rem;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--blue);
    outline: unset;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}


.navbar__link__icon, .navbar__btn__icon, .user__menu__btn__icon {
    margin-right: .35rem;
}

.navbar__btn__icon {
    color: white;
}

.searchbar {
    display: flex;
    width: 100%;
    margin-bottom: 1.2rem;
}

.searchbar__input {
    width: 92%;
    height: 50px;
    border: 2px solid var(--ice-2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: unset;
    text-indent: 10px;
}

.searchbar__input::placeholder {
    font-weight: bold;
}

.searchbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    background-color: #3799CE;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    border: unset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchbar__icon {
    color: white;
    font-size: 1rem;
}

.container {
    width: 100vw;
    max-width: 100vw;
    padding: 0rem 8%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main {
    max-width: 100vw;
    flex-grow: 1;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 3rem 0rem 1rem 0rem;
}

.aside {
    width: 25%;
    min-width: 300px;
    background-color: white;
    padding: 3rem 0rem;
    max-height: 95vh;
    border-radius: 5px;
    border: 0.8px solid var(--ice-3);
    position: relative;
}

.sidebar__user, .hidden__menu__user {
    width: 150px;
    height: 150px;
    padding: 4px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--blue);
}
.sidebar__user__wrapper {
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.sidebar__username, .hidden__menu__username {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    color: var(--black);
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.sidebar__menu, .user__menu {
    margin-top: 3rem;
}

.sidebar__links, .user__links {
    list-style: none;
    padding: .9rem 2rem;
    display: flex;
    align-items: center;
}

.sidebar__links:not(:last-child), .user__links:not(:last-child) {
    border-bottom: .2px solid white;
}

.sidebar__link, .user__link {
    font-size: 1.1rem;
    color:var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar__links:hover, .user__links:hover {
    background-color: var(--blue);
}

.sidebar__links:hover .sidebar__link, .user__links:hover .user__link {
    color: white;
}

.sidebar__link__icon,  .user__link__icon {
    margin-right: .8rem;
}

.hidden__menu {
    background-color: white;
    padding: 2rem 0;
}

.user__link, .hidden__menu__username {
    font-size: 1rem;
}

.user__menu__btn {
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 0.8rem;
}

.hidden__menu__username {
    margin-top: 1rem;
}

.hidden__menu__user {
    width: 130px;
    height: 130px;
}




.content {
    /*flex-grow: 1;*/
    width: calc(100% - 30%); /* width: calc(100% - 30%); */
    height: auto;
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 5px;
    border: 0.8px solid var(--ice-3);
}

.content__title {
    font-size: 1.6rem;
    color: var(--black);
    border: 2px solid transparent;
    border-bottom-color: var(--ice-2);
    padding: 0 0 .8rem 0;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5rem;
}

.card__wrapper > p {
    font-size: 1.2rem;
}

.any__group {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.any__group .any__group__icon {
    font-size: 2.5rem;
    color: var(--ice-3);
}

.any__group > span {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: var(--ice-3);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: calc(100% / 3 - 0.7rem);
    padding: 1.5rem .8rem;
    overflow: hidden;
    border-radius: 5px;
    border: 0.8px solid var(--ice-3);
    background-color: white;
    text-decoration: none;
    /*box-shadow: 1px 1px var(--ice-2);*/
}

.card__image {
    height: 40px;
    width: 40px;
    display: block;
}

.card__content {
    flex-grow: 1;
}

.card__title {
    font-size: 1rem;
    padding: 5px 0px;
    word-break: break-all;
    color: var(--black);
    border-bottom: 2px solid var(--ice-2);
}

.card__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.card__detail {
    display: flex;
    align-items: center;
}

.card__detail, .card__detail__icon {
    font-size: .8rem;
    color: var(--black);
}

.card__detail:first-child {
    align-self: center;
}

.card__detail__icon {
    margin-right: 5px;
}

.group__form {
    margin-top: 3rem;
}

.group__form .form__input, 
.group__form .form__select, 
.group__form .form__textarea,
.post__form .form__textarea,
.user__form .form__input,
.user__form .form__select,
.user__form .form__btn {
    width: 75%;
    border: 2px solid var(--ice-2);
    border-radius: 5px;
}

.group__form .form__btn {
    width: 75%;
    border-radius: 5px;
}

/*group info page */

.group__header {
    display: flex;
    align-items: center;
}

.header__image {
    width: 75px;
    height: 75px;
    margin-right: 1rem;
}

.header__title {
    font-size: 1.6rem;
    color: var(--black);
    text-align: justify;
}

.group__description {
    font-size: 1.1rem;
    color: var(--black);
    text-align: justify;
    margin-top: 1.4rem;
}

.group__topic {
    margin-top: 1.4rem;
    display: inline-block;
    padding: .3rem .5rem;
    background-color:var(--blue);
    color: white;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 15px;
}

.group__topic:not(:last-child) {
    margin-right: 0.5rem;
}

.enter__group__form {
    margin-top: 2.4rem;
}

.enter__group__form .form__input {
    width: 35%;
    border: 2px solid var(--ice-2);
    border-radius: 5px;
}

.enter__group__form .form__btn {
    width: 20%;
}

.form__user__pic__wrapper {
    display: flex;
    margin: 25px 0px 25px 0px;
}

.form__user__save__pic {
    display: block;
    width: 150px;
    padding: 8px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
}

.user__form__pic {
    width: 150px;
    height: 150px;
    padding: 4px;
    display: block;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

form.user__form .overlay {
    background-color: #7ADFBB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-top: 3rem;
    border-radius: 50%;
    position: absolute;
    border: none;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
}

.form__user__pic__wrapper:hover .overlay {
    opacity: 1;
}

.form__user__pic__wrapper .form__user__pic__icon {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

/* feed */

.group__options{
    margin: 1.4rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
}


.group__options__link, .group__options__btn {
    display: flex;
    align-items: center;
    padding: .8rem;
    font-weight: bold;
    border-radius: 5px;
    /*color: var(--black);*/
    /*border: 2px solid var(--blue);*/
    border: none;
    background-color: var(--black);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.group__options__btn {
    font-size: 1rem;
}

.group__options__link:hover, .group__options__btn:hover {
    background-color: var(--blue);
}

.group__options__icon {
    margin-right: 5px;
}

.post__form .form__textarea {
    width: 100%;
    text-indent: 10px;
    color: var(--black);
    
}

.form__button__group {
    display: flex;
    background-color: #3799CE;
    width: auto;
}

.post__form .form__btn {
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-block;
}

.post__form .material__btn {
    display: inline-block;
    padding: 0.65rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    margin-left: .5rem;
    background-color: var(--black);
    color: white;
    border: unset;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.group__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    min-height: 400px;
}

.group__feed__icon {
    display: block;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.group__feed__message {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.15rem);
    font-weight: bold;
    color: var(--black);
}

/*user config */
.password__btn {
    background-color: var(--black);
    color: white;
    border: unset;
    width: 7%;
    border-radius: 5px;
    margin-left: 10px;
}

.user__form .form__group {
    display: flex;
    flex-wrap: wrap;
}

.user__form .form__group .form__label {
    width: 100%;
}

.user__form .form__btn, .group__form .form__btn {
    font-size: 1rem;
    width: 20%;
}

.user__form .form__btn:nth-child(2n), .group__form .form__btn:nth-child(2n){
    background-color: var(--black);
}

.user__form .button__group, .group__form .button__group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.user__form .form__icon {
    font-size: 1.15rem;
}

.ranking__container, .member__container {
    height: auto;
    width: 100%;
}

.ranking__container .ranking__item, div.mod__item, div.others__item  {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 12px;
    border: 0.8px solid var(--ice-3);
}

.ranking__container .ranking__item > span {
    display: block;
}

.ranking__container .ranking__user__placement, .member__index {
    font-size: clamp(14px, 2vw, 17px);
    font-weight: bold;
}

.ranking__item .ranking__user__img, .member__img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 25px;
}

.ranking__item .ranking__user__name, .member__name {
    margin-left: 25px;
    font-size: clamp(14px, 2vw, 17px);
    font-weight: bold;
}

.ranking__item .ranking__user__medal {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.ranking__item .ranking__user__points {
    margin-left: auto;
    font-size: clamp(14px, 2vw, 17px);
    font-weight: bold;
}

.ranking__item:nth-child(1) .ranking__user__points {
    color: #F6DA75;
}

.ranking__item:nth-child(1) .ranking__user__img {
    border: 4px solid #F6DA75;
}

.ranking__item:nth-child(2) .ranking__user__points {
    color: #DEDEDE;
}

.ranking__item:nth-child(2) .ranking__user__img {
    border: 4px solid #DEDEDE;
}

.ranking__item:nth-child(3) .ranking__user__points {
    color: #FE9737;
}

.ranking__item:nth-child(3) .ranking__user__img {
    border: 4px solid #FE9737;
}

h3.content__subtitle {
    font-size: 1.2rem;
    color: var(--black);
    margin-top: 20px;
}

.member__action__btns {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.member__action__btns > button {
    gap: 3px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
    color: white;
    background-color: var(--blue);
    border: none;
    cursor: pointer;
}

.others__container > h3 {
    margin-top: 45px;
}

.pagination__wrapper {
    width: 100%;
    height: auto;
    margin: 1.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__index {
    margin: 0 8px;
    font-size: 1rem;
}

.pagination__btn {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1rem;
    /*
    border: none;
    background-color: var(--black);
    color: white;
    */
    font-weight: bold;
    cursor: pointer;
}

.post__item {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: white;
    border: 0.8px solid var(--ice-3);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}


.post__item .post__options__menu, .comment__item .comment__options__menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    background-color: white;
    border: 0.8px solid var(--ice-3);
    top: 35px;
    right: 20px;
    border-radius: 5px;
}

.comment__item .comment__options__menu {
    right: 15px;
}

.post__item .post__options__menu > li, .comment__item .comment__options__menu > li {
    display: flex;
    align-items: center;
    padding: 6px 5px;
    list-style: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.comment__item .comment__options__menu > li {
    padding: 4px 5px; 
}

.post__item .post__options__menu > li:hover, .comment__item .comment__options__menu > li:hover {
    background-color: var(--ice-2);
}

.post__item .post__options__menu > li a, .comment__item .comment__options__menu > li a {
    font-size: 0.8rem;
}

.post__options__menu__icon, .comment__options__menu__icon {
    margin-right: 6px;
}

.post__item .post__author__img, .comment__container .post__author__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post__item .post__infos, .comment__container .comment__infos{
    width: 200px;
    height: auto;
    margin-left: 7px;
}

.post__infos > span, .comment__infos > span {
    display: block;
    font-size: 0.8rem;
}

.post__infos > span:first-of-type, .comment__infos > span:first-of-type  {
    font-size: 0.9rem;
}

.post__infos > span:not(:first-of-type), .comment__infos > span:not(:first-of-type) {
    margin: 2px 0px;
}

.post__item .post__options__btn, .comment__container .comment__options__btn {
    margin-left: auto;
    height: 35px;
    display: flex;
    align-items: flex-start;
    border: none;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 6px;
    margin-top: -10px;
    cursor: pointer;
    background-color: transparent;
}

/*
.post__item .post__options__btn:hover {
    background-color: var(--ice-2);
}
*/

.post__item .post__content {
    width: 100%;
    height: auto;
    text-align: justify;
    margin-top: 15px;
    font-weight: 400;
}

.post__item > hr {
    margin-top: 10px;
    color: var(--gray);
    width: 100%;
    height: .2px;
}

.post__item .post__action__btns, .comment__action__btns {
    display: flex;
    gap: 0.7rem;
    width: 50%;
    margin-top: 8px;    
}

.post__action__btns > button, .comment__action__btns > button {
    padding: 14px 11px;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: var(--black);
    font-weight: 500;
    transition: 1s ease;
}

.post__action__btns > button:hover {
    background-color: var(--ice-2);
}

.post__action__btns > button:focus {
    /*
    background-color: rgba(55, 153, 206, 0.3);
    color: var(--blue);
    */
    background-color: var(--ice-2);
}

.post__comment__input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 5px;
    margin-top: 15px;
}

.post__comment__input > input {
    flex-grow: 1;
    text-indent: 15px;
    background-color: var(--ice-2);
    border: none;
    height: 90%;
    border-radius: 5px;
    transition: 0.3s ease;
    padding: 0px 35px 0px 0px;
}

.post__comment__input > input:focus {
    outline-color: var(--blue);
}

.material__comment__icon {
    display: inline-block;
    position: absolute;
    right: 15px;
    font-size: 1rem;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.post__files__wrapper, .comment__files__wrapper  {
    display: flex;
    gap: 10px;
    height: auto;
    width: 100%;
    margin: 20px 0px;
}

.comment__files__wrapper {
    margin-top: 10px;
    margin-left: 8%;
}

.post__files__wrapper > button, .comment__files__wrapper > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 12px;
    font-size: 0.9rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.comment__files__wrapper > button {
    padding: 8px;
    font-size: .8rem;
}

.pdf__file {
    background-color: red;
}

.word__file {
    background-color: var(--dark-blue);
}

.img__file {
    background-color: #2AAE9A;
}

.file__btn__icon {
    margin-right: 4px;
}


.comment__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0px;
    margin-top: 10px;
    background-color: transparent;
}

.comment__item .comment_body {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: var(--ice-2);
    width: 92%;
    padding: 8px;
    border-radius: 5px;
}

.comment__item .comment__content {
    width: 100%;
    margin-top: 10px;
    text-align: justify;
}


.comment__item .comment__infos {
    margin-left: 0px;
}

.comment__item .comment__options__btn {
    margin-top: 0px;
}

.comment__action__btns {
    margin-left: 8%;
    margin-top: 0.5rem;
}

.comment__action__btns > button {
    padding: 8px 10px;
    font-size: .8rem;
    gap: 0.8px;
}

.comment__action__btn__icon {
    margin-right: 3px;
}

.comment__action__btns > button:hover,  .comment__action__btns > button:focus{
    background-color: var(--ice-2);
}

.handleComments__btn {
    margin: 15px 0px 5px auto;
    border: none;
    background-color: transparent;
}

span.post__reaction__like, span.post__reaction__deslike {
    display: flex;
    gap: 2px;
    font-size: 14px;
    align-items: center;
    margin: 15px 0px 0px 0px  
}

span.post__reaction__deslike {
    margin-left: 8px;
}

.files__container {
    width: 100%;
    height: auto;
}

.files__container > table {
   width: 100%;
   margin-top: 20px;
   border-collapse: collapse;
   border: 1px solid #ddd;
}

.files__container > table th {
    background-color: var(--blue);
    color: white;
}

.files__table th, .files__table td {
  text-align: center;
  padding: 10px 0px;
}

.files__table th:first-of-type {
   padding: 10px 6px;
}

.files__table tr:nth-child(even) {
    background-color: #dddddd;
}

.files__table td > button {
    display: inline-flex;
    gap: 3px;
    align-items: center;
    padding: 6px 8px;
    background-color: var(--black);
    color: white;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}

.files__table .file__btn__icon {
    font-size: 1.3rem;
}

/* user profile */

.user__info__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 25px;
    padding: 10px 0px;
    gap: 15px;
}

.user__info__container .user__profile__pic {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 50%;
    border: 5px solid var(--blue);
}

.user__info__container .profile__info__container {
    margin-top: 20px;
    width: 60%;
}

.user__info__container .user__profile__username {
    width: 100%;
    display: block;
    font-size: 1.65rem;
    font-weight: bold;
}

.user__info__container .user__profile__area {  
    font-size: 1.1rem;
}

.user__info__container .user__profile__area:after {
    content: "*";
    margin-left: 5px;
}

.user__info__container .user__profile__points {
    margin-left: 5px;  
    font-size: 1.1rem;
    color: var(--blue);
    font-weight: bold;
}

.user__info__container .user__profile__points::after {
    content: 'pontos';
    color: var(--black);
    margin-left: 5px;
    font-weight: bold;
}

.user__info__container .action__btns__wrapper {
    gap: 10px;
    display: flex;
    margin-top: 10px;
    width: auto;
}

.user__info__container .action__btns__wrapper button {
    display: inline-flex;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user__groups__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 300px;
    margin-top: 20px;
}

.user__groups__container .building__icon {
    font-size: 3rem;
    color: var(--ice-3);
}

.user__groups__container > span {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    color: var(--ice-3);
}

.welcome::after {
    /*font-family: "Font Awesome 5 Free";
    font-weight: 800;*/
    content: url('../images/waving-hand.png');
    margin-left: 5px;
    margin-top: -3px;
    position: absolute;
}

@media (max-width: 1300px) {
    .group__options {
        gap: 0.5rem;
    }
}


@media (max-width: 768px) {

    .container {
        padding: 0rem 7%;
    }

    .navbar {
        padding: .8rem 7%;
    }

    .navbar__bars {
        display: block;
    }

    .hakuna__version {
        top: 10px;
        font-size: 0.7rem;
    }

    .navbar__menu {
        display: none;
    }

    .aside {
       display: none;
    }

    .header__title {
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .searchbar__input {
        width: 85%;
        font-size: 0.95rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .searchbar__btn {
        width: 15%;  
    }

    .card__wrapper {
        justify-content: space-between;
    }

    .card {
        width: 48%;
        gap: 1rem;
        padding: 4px 20px;
        
    }

    .card__image {
        width: 55px;
        height: 55px;
    }

    .group__header {
        flex-direction: column;
    }

    .header__image {
        width: 95px;
        height: 95px;
    }

    .header__title {
        width: 100%;
        margin-top: 1rem;
    }

    .group__form .form__input, 
    .group__form .form__select, 
    .group__form .form__textarea, 
    .group__form .form__btn,
    .user__form .form__input,
    .user__form .form__select,
    .user__form .form__btn,
    .post__form .form__textarea, 
    .enter__group__form .form__btn, .enter__group__form .form__input {
        width: 100%;
    }

    .post__form .form__btn {
        width: 25%;
    }

    .group__options__link, .group__options__btn {
        width: 100%;
    }

    .user__form .form__group {
        width: 100%;
        justify-content: space-between;
    }

    .user__form .form__group .form__input {
        width: 84%;
    }

    .user__form .password__btn {
        margin-left: 0px;
        width: 13%;
    }

    .user__form .button__group, .group__form .button__group {
        margin-top: 1.3rem;
    }

    .user__form .button__group .form__btn, .group__form .button__group .form__btn {
        margin-top: .5rem;
    }

    .form__user__pic__wrapper {
        justify-content: center;
    }

    .form__user__save__pic {
        margin: 0 auto 40px auto;
    }

    .ranking__item .ranking__user__img, .member__img {
        height: 45px;
        width: 45px;
        margin-left: 8px;
    }

    .ranking__item .ranking__user__name, .member__name {
        margin-left: 10px;
    }

    .member__action__btns > button {
        padding: 5px;
        font-size: .8rem;
    }

    .post__item .post__action__btns > button {
        font-size: 0.8rem;
        gap: 1px;
        padding: 10px 5px;
    }

    .comment__container .comment_body {
        width: 90%;
    }

    .comment__action__btns {
        margin-left: 10%;
    }

    .user__info__container {
        justify-content: center;
        gap: 3px;
    }

    .user__info__container .profile__info__container {
        width: 90%;
    }

    .user__info__container .user__profile__username {
        text-align: center;
    }

    .user__info__container .user__profile__area {
        width: 100%;
        display: block;
        text-align: center;
    }

    .user__info__container .user__profile__area::after {
        content: '';
    }

    .user__info__container .user__profile__points {
        width: 100%;
        display: block;
        text-align: center;
    }

    .user__info__container .action__btns__wrapper {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .any__group {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 460px) {

    main {
        background-color: white;
    }

    .container {
      padding: 0rem;
      justify-content: center;
    }

    .content {
       padding: 3rem 8%;
       border: none;
    }

    .searchbar {
        margin: 0px 8% 1.2rem 8%;
    }

    .card {
        width: 100%;
        padding: 1.5rem 15px;
    }

    .post__item .post__infos {
        flex: 1
    }

    .post__item .post__action__btns {
        width: 100%;
    }

    .post__files__wrapper > button {
        padding: 7px 4px;
        font-size: 0.7rem;
    }

    /*
    .post__item .post__action__btns > button {
        font-size: 0.7em;
        gap: 5px;
        width: 100%;
        padding: 10px 2px;
    }
    */

    .comment__container .comment_body {
        width: 85%;
    }

    .comment__container .comment__infos {
        width: auto;
    }

    .comment__action__btns {
        width: 85%;
        margin-left: 50px;
    }

    .post__comment__input > input {
        height: 80%;
    }

    .post__item .post__author__img, .comment__container .post__author__img {
        width: 40px;
        height: 40px;
    }
}



