@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark-blue: #1b305a;
    --light-green:  #c3f3df;
    --green:  #1fc99e;
    --light-purple: #e5e1f4;
    --purple: #6c59a2;
    --redish: #f5e1e6;
    --red: #ec5865;
    --ice: #efefef;
    --ice-2: #ebebf7;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
 font-size: 62,5%;   
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    background-color: var(--ice);
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(120deg, var(--green), var(--dark-blue));
}

.register__form, .login__form, .redefinePass__form {
    background-color: white;
    width: 90%;
    max-width: 430px;
    padding: 2.5rem 2rem;
    border-radius: 8px;
}

.form__title {
    text-align: center;
    font-size: clamp(1.7rem, 1vw + 1rem, 2.1rem);
    margin-bottom: 2.5rem;
    color: var(--dark-blue);
    
}

.form__label {
    font-size: clamp(1rem, 1vw + 0.25rem + 1.1rem);
    display: block;
    color: var(--dark-blue);
    font-weight: bold;
    margin: 1.1rem 0 0.4rem 0;
}

.form__input {
    text-indent: 5px;
}

.form__input, .form__select {
    width: 100%;
    display: block;
    padding: 0.65rem 0;
    background-color: var(--ice-2);
    font-size: 1rem;
    border: none;
    transition: 0.8s ease;
}

.form__input:focus, .form__select:focus {
    outline-color: var(--green);
}

.form__btn {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.65rem;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.15rem);
    color: white;
    background-image: linear-gradient(120deg, var(--green), var(--dark-blue));
    border: none;
    font-weight: bold;
    transition: 1s all ease-in-out;
}

.form__btn:hover {
    background-position: right;
}

.form__link {
    margin-top: 1.5rem;
    text-decoration: none;
    color: white;
}

.login__form .form__link {
    display: block;
    margin-top: 1.5rem;
    color: var(--dark-blue);
    font-weight: bold;
}



